.page {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background-color: #000000; 
  width:100vw;
  height:100vh;
}

.section{
  background-color: #000000;
  width: 50vw;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.form{
  display:flex;
  flex-direction: row;
  gap: 10px; /* Adds space between child elements */
  

}

