.outerBar{
    height: 100%;
    width: 100%;
    background-color: rgba(100,100,100);
    border-radius: 32px;
    padding:4px;
    box-sizing: border-box;
}

.innerBar{
    height:100%;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(0,0,0), rgb(20,200,20))
}