#root {
  
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  display:flex;
  flex-grow:1;
  flex-direction: column;
  width:100%;
}


.app{
  background-color:#000000;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-grow: 1; 
}

.appForm{
  height: 2rem;
  margin: 1rem 16rem 0 16rem;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

}

.appForm input{
  padding-left: 1rem;
  background-color:rgba(0,0,0,0);
  border:none;
  width:100%
}
.appForm input:focus {
  border: none;
  border-width: 0;
}

.searchDiv{
  display:flex;
  flex-direction:row;
  height: 100%;
  border-radius: 1rem;
  border: 2;
  border-color:aliceblue;
  border-style: solid;
  
}

.searchIcon{
  height:100%
}



.searchButton{
  width: 20px;
  height: 100%;
  color: aqua;
  background-color: transparent;
}

.pokemonGrid{
  display:grid;

  grid-template-columns: repeat(3, 1fr);
}

