#root{
  padding:0;
  margin:0;
  
  display: flex;
  flex-direction: column;
  flex-grow:1;

}

.main{

  display:flex;
  flex-direction:column;
  flex-grow:1;
  justify-content: center;
  align-items: center;
  /* gap:20px */
}